/* Main Content Layout */
.graphs.container {
	padding: 25px !important;
}

/* Data Selection Layout */
/*.header-dropdown .item i {
	display: relative;
	font-size: 20px;
	padding-right: 10px;
}*/

/* Fluid Card Layout */
.fluid.card .content .header {
	padding-top: 10px;
}
.fluid.card .content .meta {
	padding-bottom: 10px;
}

/* progress bar layout */
.attached.progress {
	border-radius: 0 !important;
}

/* Content with Toggle */
.toggle-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.grid.with-toggle > div {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

/* If graph content header has no dropdown, set meta margin to zero */
.content > div:last-child[class="meta"] {
	padding-bottom: 0 !important;
}

/* Add space between toggle and dropdown */
.toggle-container ~ .ui.dropdown {
	margin-top: 10px;
}

/* Graph Option Section Layout */
.graph-content .content span {
	display: block;
	margin-bottom: 10px !important;
}

/* Checkbox Layout */
.fitted.toggle.checkbox label::before {
	background-color: rgba(0,0,0,0.2);
}
.fitted.toggle.checkbox label::after {
	background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .1)) #FFF;
	background: linear-gradient(transparent, rgba(0, 0, 0, .1)) #FFF;
}

/* No Graph Block Layout */
.content.has-menu > .no-graph {
	width: 100%;
	height: 400px;
	font-size: 24px;
	color: #888;
	text-align: center;
	line-height: 400px;
}

/* D3 SVG Graph Layout */
.svg {
	font-family: 'Lato', sans-serif;
}

.background path {
	fill: none;
	stroke: #e6e6e6;
}

.foreground path {
	fill: none;
	stroke: #3198F7;
}

.brush .extent {
	fill-opacity: .3;
	stroke: #fff;
}

.axis line,
.axis path {
	fill: none;
	stroke: #666;
}

.axis text {
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	/*cursor: move;*/
	fill: #666;
	font-size: 11px;
	font-family: 'Lato', sans-serif;
}

/* Upload Modal Layout */
.ui.upload.modal .header,
.ui.upload.modal .content,
.ui.upload.modal .actions {
	background: #e5edf1;
}
.box {
	font-size: 1.25rem;
	text-align: center;
	background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
    box-sizing: border-box;

	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
	display: none;
}
.box__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}
.box__file {
	display: none;
}
.box__file + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.box__file + label strong {
	-webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.box__file + label:hover strong {
	color: #39bfd3;
}
.box__dragndrop {
	display: inline;
}
.box.is-dragover {
	background-color: white;
	outline-offset: -20px;
}
.box.is-uploading .box__input {
	visibility: none;
}
.box.is-uploading .box__uploading {
	display: block;
}
.box.is-error .box__error {
	display: block;
}
.box.is-error .box__input,
.box.is-error .box__uploading {
	display: none;
}