/* Overall Layout */
body {
	background-color: #444;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hidden {
	display: none !important;
}
.invisible {
	opacity: 0.0;
}

/* Flexbox */
.flex-item {
	-webkit-box-flex: 1 !important;
	-webkit-flex: 1 1 auto !important;
	-ms-flex: 1 1 auto !important;
	flex: 1 1 auto !important;
}
.flex-ignore {
	-webkit-box-flex: 0 !important;
	-webkit-flex: 0 0 auto !important;
	-ms-flex: 0 0 auto !important;
	flex: 0 0 auto !important;
}
.flex-container {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.flex-column {
	flex-direction: column !important;
}

/* Sidebar Layout */
.ui.inverted.menu.blue a.item.title {
	padding: 40px 0 !important;
	text-align: center;
	font-size: 20px;
	background: none !important;
}
.ui.inverted.menu.blue {
	background: #1F77D0;
	background: -moz-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1F77D0), color-stop(100%, #533ce1));
	background: -webkit-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
	background: -o-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
	background: -ms-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
	background: linear-gradient(to bottom, #1F77D0 0%, #533ce1 100%);
	background-size: 150% 150%;
}
.ui.inverted.menu.blue a.item:not(.title) {
	padding: 20px 10px !important;
}
.ui.inverted.menu.blue a.item:not(.title) i {
	font-size: 25px;
	padding: 0 20px;
}
.ui.inverted.menu.blue a.item:not(.title) span {
	display: inline-block;
	transform: translate(0, -5px);
}

/* Header Layout */
.full.height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	min-height: 100vh;
}
.main-content {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-content: stretch;

	min-width: 0px;
	min-height: 100vh;
	background-color: #eee;
}
.main-content > div:last-child {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.main-content > div:not(:last-child) {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	background-color: white !important;
}
.header-content {
	margin-top: 40px !important;
}
.header-content:before {
	content: "";
	width: 100%;
	height: 40px;
	position: absolute;
	top: -40px;
	left: 0;
	background: #444;
}
.header-content .column:last-child {
	display: flex !important;
	flex-direction: row;
	align-items: center;
}
.header-content .column > * {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	margin: 0 25px !important;

	display: flex;
	align-items: center;
}
.header-content .seven.wide.column > div > div {
	webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

@media (max-width: 767px) {

.header-content > .column:last-child .column:first-child {
	padding-bottom: 0 !important;
}

}
